# Ignore the local lib folder
lib/

# Ignore compiled Java files and build tools
*.class
target/
.gradle/
build/

# Ignore IDE specific files (Eclipse, IntelliJ, VS Code)
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Ignore OS system files
Thumbs.db
desktop.ini
DS_Store